[Desktop Entry]
Categories=Utility
Comment[en_GB]=Copy "Yes" checkmark to clipboard
Comment=Copy "Yes" checkmark to clipboard
Exec=sh -c "bash \\$HOME/.local/bin/copyStuff.sh cps yes"
Icon=copyq
Name[en_GB]=CopyYes
Name=CopyYes
StartupNotify=true
Terminal=false
Type=Application
Version=1.0